services:
  vodloader:
    build: ./app
    env_file: .env
    volumes:
      - ./database:/opt/vodloader/database
      - /mnt/media/Capture/vodloader:/opt/vodloader/videos
  nginx:
    build: ./nginx
    ports:
      - 8000:8000


